@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .breadcrumbcontainer {
    transition: transform 0.4s ease-in;
  }

  .breadcrumbcontainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
    height: 0;
  }
  .breadcrumbcontainer::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
